
posts/*.jpg
posts/*.png
.DS_Store
Thumbs.db
.vscode/
.idea/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
vendor/
.env
config.json
secrets.yml
database.sqlite
*.log
*.tmp
*.swp
config/settings.py
db.sqlite3
*.sqlite3
*.pem